<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="profile_channel.xacro"/>

    <!-- Base Link -->

    <link name="base_link"></link>
    <link name="EVA_base_link"></link>

    <joint name="base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="EVA_base_link"/>
        <origin xyz="0 0 0.140" rpy="0 0 0" />
    </joint>

    <xacro:if value="$(arg use_drive)">

        <!-- Chassis profile Channels -->

        <xacro:property name="Chassis_profile_size" value="0.02"/>
        <xacro:property name="Chassis_profile_length" value="0.560"/>
        <xacro:property name="Chassis_side_profile_length" value="0.150"/>
        <xacro:property name="motor_support_profile_length" value="0.485"/>

        <xacro:profile_channel parent="base_link" child="front_bottom_profile_channel" profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.290   0.00  0.00"   rpy="0 0 -1.57" />
        <xacro:profile_channel parent="base_link" child="back_bottom_profile_channel"  profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.290   0.00  0.00"    rpy="0 0 -1.57" />
        <xacro:profile_channel parent="base_link" child="left_bottom_profile_channel"  profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0     0.290 0.00"  rpy="0 0 0" />
        <xacro:profile_channel parent="base_link" child="right_bottom_profile_channel" profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0    -0.290 0.00"  rpy="0 0 0" />

        <xacro:profile_channel parent="base_link" child="front_bottom_motor_support_profile_channel" profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.205   0.0475  0.00"   rpy="0 0 -1.57"/>
        <xacro:profile_channel parent="base_link" child="back_bottom_motor_support_profile_channel"  profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.205  -0.0475  0.00"   rpy="0 0 -1.57"/>
        <xacro:profile_channel parent="base_link" child="left_bottom_motor_support_profile_channel" profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.0475  0.205   0.00"   rpy="0 0 0" />
        <xacro:profile_channel parent="base_link" child="right_bottom_motor_support_profile_channel"  profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0475 -0.205   0.00"   rpy="0 0 0" />

        <xacro:profile_channel parent="base_link" child="front_top_profile_channel" profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.290   0.00  0.130"   rpy="0 0 -1.57" />
        <xacro:profile_channel parent="base_link" child="back_top_profile_channel"  profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.290   0.00  0.130"    rpy="0 0 -1.57" />
        <xacro:profile_channel parent="base_link" child="left_top_profile_channel"  profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0     0.290 0.130"  rpy="0 0 0" />
        <xacro:profile_channel parent="base_link" child="right_top_profile_channel" profile_mass="0.28" profile_length="${Chassis_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0    -0.290 0.130"  rpy="0 0 0" />

        <xacro:profile_channel parent="base_link" child="front_top_motor_support_profile_channel"    profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.205   0.0475  0.130"  rpy="0 0 -1.57"/>
        <xacro:profile_channel parent="base_link" child="back_top_motor_support_profile_channel"     profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.205  -0.0475  0.130"  rpy="0 0 -1.57"/>
        <xacro:profile_channel parent="base_link" child="left_top_motor_support_profile_channel"     profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.0475  0.205   0.130"  rpy="0 0 0"/>
        <xacro:profile_channel parent="base_link" child="right_top_motor_support_profile_channel"    profile_mass="0.2425" profile_length="${motor_support_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.0475 -0.205   0.130"  rpy="0 0 0"/>

        <xacro:profile_channel parent="base_link" child="front_left_side_support_profile_channel"   profile_mass="0.045" profile_length="${Chassis_side_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.290   0.290  0.065" rpy="0 -1.57 0"/>
        <xacro:profile_channel parent="base_link" child="front_right_side_support_profile_channel"  profile_mass="0.045" profile_length="${Chassis_side_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz=" 0.290  -0.290  0.065" rpy="0 -1.57 0"/>
        <xacro:profile_channel parent="base_link" child="back_left_side_support_profile_channel"    profile_mass="0.045" profile_length="${Chassis_side_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.290   0.290  0.065"  rpy="0 -1.57 0"/>
        <xacro:profile_channel parent="base_link" child="back_right_side_support_profile_channel"   profile_mass="0.045" profile_length="${Chassis_side_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="-0.290  -0.290  0.065"  rpy="0 -1.57 0"/>

        <!-- Bot Front Marker -->
        <!-- <xacro:profile_channel parent="base_link" child="Bot_Front_Marker_profile_channel"   profile_mass="0.001" profile_length="${Chassis_side_profile_length}" profile_width="${Chassis_profile_size}"  profile_height="${Chassis_profile_size}"  xyz="0.290  0  0.105"  rpy="0 -1.57 0"/> -->

        <!-- Wheels-->

        <xacro:if value="$(arg use_omni_wheel)">
            <!-- Omni Wheels -->
            <xacro:include filename="omni_wheel.xacro"/>
            <xacro:omni_wheel parent="base_link" child="front_left"  xyz=" 0.255  0.205 0.035" rpy=" 0.0   1.57 0.0 "/>
            <xacro:omni_wheel parent="base_link" child="back_right"  xyz="-0.255 -0.205 0.035" rpy=" 0.0  -1.57 0.0"/>
            <xacro:omni_wheel parent="base_link" child="back_left"   xyz="-0.205  0.255 0.035" rpy="-1.57  0    0.0"/>
            <xacro:omni_wheel parent="base_link" child="front_right" xyz=" 0.205 -0.255 0.035" rpy=" 1.57  0    0.0"/>
        </xacro:if>

        <xacro:unless value="$(arg use_omni_wheel)">
            <!--Normal Wheels-->
            <xacro:include filename="wheel.xacro"/>
            <xacro:wheel parent="base_link" child="front_left"  xyz=" 0.245  0.205 0.035" rpy=" 0.0   1.57 0.0 "/>
            <xacro:wheel parent="base_link" child="back_right"  xyz="-0.245 -0.205 0.035" rpy=" 0.0  -1.57 0.0"/>
            <xacro:wheel parent="base_link" child="back_left"   xyz="-0.205  0.245 0.035" rpy="-1.57  0    0.0"/>
            <xacro:wheel parent="base_link" child="front_right" xyz=" 0.205 -0.245 0.035" rpy=" 1.57  0    0.0"/>
        </xacro:unless>
    </xacro:if>

    <!-- Bot ARM -->

    <xacro:if value="$(arg use_eva)">

        <xacro:include filename="leg.xacro"/>
        <xacro:include filename="body.xacro"/>
        <xacro:include filename="realsense.xacro"/>
        <xacro:include filename="arm.xacro"/>

        <xacro:sholder parent="body" child="left"  v_rpy="0.0 0.0 0"    c_xyz="0.0  0.035 0.0" o_xyz="0    0.118 0.457" o_rpy="0.0  0.0  0.0"/>
        <xacro:sholder parent="body" child="right" v_rpy="0.0 0.0 3.14" c_xyz="0.0 -0.035 0.0" o_xyz="0.0 -0.118 0.457" o_rpy="3.14 3.14 3.14"/>
    
        <xacro:upper_biceps side="left"  lower="0"     upper="2.09" o_xyz="0  0.040 0"/>
        <xacro:upper_biceps side="right" lower="-2.09" upper="0"    o_xyz="0 -0.040 0"/>

        <xacro:lower_biceps side="left"  lower="-1.57" upper="0"/>
        <xacro:lower_biceps side="right" lower="0"     upper="1.57"/>

        <xacro:elbow side="left"  lower="0" upper="-2.05"/>
        <xacro:elbow side="right" lower="0" upper="-2.05"/>

        <xacro:wrist side="left"  lower="-1.57" upper="1.57"/>
        <xacro:wrist side="right" lower="-1.57" upper="1.57"/>

        <xacro:hand side="left"  lower="-1.10" upper="0.6"  xyz="0.0475 0.012 0.01"/>
        <xacro:hand side="right" lower="-0.6"  upper="1.10" xyz="0.0475 0.0185 0.01"/>

        <xacro:finger_link side="right" finger="4" link="1" xyz=" 0.008  0.0065 0.003" rpy="3.14 1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="right" finger="3" link="1" xyz=" 0.008  0.0065 0.003" rpy="3.14 1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="right" finger="2" link="1" xyz=" 0.008  0.0065 0.003" rpy="3.14 1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="right" finger="1" link="1" xyz=" 0.008  0.0065 0.003" rpy="3.14 1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="left"  finger="4" link="1" xyz="-0.004 -0.0065 0.003" rpy="0    1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="left"  finger="3" link="1" xyz="-0.004 -0.0065 0.003" rpy="0    1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="left"  finger="2" link="1" xyz="-0.004 -0.0065 0.003" rpy="0    1.57 0" mesh="all_finger_1"/>
        <xacro:finger_link side="left"  finger="1" link="1" xyz="-0.004 -0.0065 0.003" rpy="0    1.57 0" mesh="all_finger_1"/>

        <xacro:finger_link side="right" finger="4" link="2" xyz=" 0.008  0.006 0.003"  rpy="3.14 1.57 0" mesh="index_finger_2" />
        <xacro:finger_link side="right" finger="3" link="2" xyz=" 0.008  0.006 0.003"  rpy="3.14 1.57 0" mesh="middle_finger_2"/>
        <xacro:finger_link side="right" finger="2" link="2" xyz=" 0.008  0.006 0.003"  rpy="3.14 1.57 0" mesh="ring_finger_2"/>
        <xacro:finger_link side="right" finger="1" link="2" xyz=" 0.008  0.0055 0.003" rpy="3.14 1.57 0" mesh="pinky_finger_2"/>
        <xacro:finger_link side="left"  finger="4" link="2" xyz="-0.004 -0.006 0.003"  rpy="0    1.57 0" mesh="index_finger_2" />
        <xacro:finger_link side="left"  finger="3" link="2" xyz="-0.004 -0.006 0.003"  rpy="0    1.57 0" mesh="middle_finger_2" />
        <xacro:finger_link side="left"  finger="2" link="2" xyz="-0.004 -0.006 0.003"  rpy="0    1.57 0" mesh="ring_finger_2" />
        <xacro:finger_link side="left"  finger="1" link="2" xyz="-0.004 -0.0055 0.003" rpy="0    1.57 0"  mesh="pinky_finger_2" />

        <xacro:finger_link side="right" finger="4" link="3" xyz=" 0.008  0.0052 0.0035" rpy="3.14 1.57 0" mesh="index_finger_3" />
        <xacro:finger_link side="right" finger="3" link="3" xyz=" 0.008  0.0052 0.0035" rpy="3.14 1.57 0" mesh="middle_finger_3" />
        <xacro:finger_link side="right" finger="2" link="3" xyz=" 0.008  0.0052 0.0035" rpy="3.14 1.57 0" mesh="ring_finger_3" />
        <xacro:finger_link side="right" finger="1" link="3" xyz=" 0.008  0.0052 0.0035" rpy="3.14 1.57 0" mesh="pinky_finger_3" />
        <xacro:finger_link side="left"  finger="4" link="3" xyz="-0.004 -0.0052 0.0035" rpy="0    1.57 0" mesh="index_finger_3" />
        <xacro:finger_link side="left"  finger="3" link="3" xyz="-0.004 -0.0052 0.0035" rpy="0    1.57 0" mesh="middle_finger_3" />
        <xacro:finger_link side="left"  finger="2" link="3" xyz="-0.004 -0.0052 0.0035" rpy="0    1.57 0" mesh="ring_finger_3" />
        <xacro:finger_link side="left"  finger="1" link="3" xyz="-0.004 -0.0052 0.0035" rpy="0    1.57 0" mesh="pinky_finger_3" />

        <xacro:finger_link side="right" finger="5" link="1" xyz=" 0.023  0.015  0.008" rpy="3.14 1.57 0" mesh="thumb_finger_1" />
        <xacro:finger_link side="right" finger="5" link="2" xyz="-0.003  0.006 -0.006" rpy="1.57 0    0" mesh="thumb_finger_2" />
        <xacro:finger_link side="right" finger="5" link="3" xyz="-0.0035 0.006 -0.005" rpy="1.57 0    0" mesh="thumb_finger_3" />
        <xacro:finger_link side="left"  finger="5" link="1" xyz=" 0.023  0.015  0.008" rpy="3.14 1.57 0" mesh="thumb_finger_1" />
        <xacro:finger_link side="left"  finger="5" link="2" xyz="-0.003  0.006 -0.006" rpy="1.57 0    0" mesh="thumb_finger_2" />
        <xacro:finger_link side="left"  finger="5" link="3" xyz="-0.0035 0.006 -0.005" rpy="1.57 0    0" mesh="thumb_finger_3" />

        <xacro:finger_joints_1 name="right_finger_4_link_1"  parent="right_hand" child="right_finger_4_link_1"  xyz="0.02126  0.005 -0.088" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_4_link_2"  parent="right_finger_4_link_1" child="right_finger_4_link_2" mimic="right_finger_4_link_1_joint" xyz="0 0 -0.024" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_4_link_3"  parent="right_finger_4_link_2" child="right_finger_4_link_3" mimic="right_finger_4_link_1_joint" xyz="0 0 -0.019" lower="0" upper="1.57"/>
        <xacro:finger_joints_1 name="right_finger_3_link_1"  parent="right_hand" child="right_finger_3_link_1"  xyz="0.00625  0.005  -0.088" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_3_link_2"  parent="right_finger_3_link_1" child="right_finger_3_link_2" mimic="right_finger_3_link_1_joint" xyz="0 0 -0.024" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_3_link_3"  parent="right_finger_3_link_2" child="right_finger_3_link_3" mimic="right_finger_3_link_1_joint" xyz="0 0 -0.024" lower="0" upper="1.57"/>
        <xacro:finger_joints_1 name="right_finger_2_link_1"  parent="right_hand" child="right_finger_2_link_1"  xyz="-0.00875 0.005  -0.088" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_2_link_2"  parent="right_finger_2_link_1" child="right_finger_2_link_2" mimic="right_finger_2_link_1_joint" xyz="0 0 -0.024" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_2_link_3"  parent="right_finger_2_link_2" child="right_finger_2_link_3" mimic="right_finger_2_link_1_joint" xyz="0 0 -0.019" lower="0" upper="1.57"/>
        <xacro:finger_joints_1 name="right_finger_1_link_1"  parent="right_hand" child="right_finger_1_link_1"  xyz="-0.02575 0.005  -0.088" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_1_link_2"  parent="right_finger_1_link_1" child="right_finger_1_link_2" mimic="right_finger_1_link_1_joint" xyz="0 0 -0.024" lower="0" upper="1.57"/>
        <xacro:finger_joints name="right_finger_1_link_3"  parent="right_finger_1_link_2" child="right_finger_1_link_3" mimic="right_finger_1_link_1_joint" xyz="0 0 -0.016" lower="0" upper="1.57"/>

        <xacro:finger_joints_1 name="left_finger_4_link_1"  parent="left_hand" child="left_finger_4_link_1"  xyz="0.02126  -0.005 -0.088" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_4_link_2"  parent="left_finger_4_link_1" child="left_finger_4_link_2" mimic="left_finger_4_link_1_joint" xyz="0 0 -0.024 " lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_4_link_3"  parent="left_finger_4_link_2" child="left_finger_4_link_3" mimic="left_finger_4_link_1_joint" xyz="0 0 -0.019" lower="-1.57" upper="0"/>
        <xacro:finger_joints_1 name="left_finger_3_link_1"  parent="left_hand" child="left_finger_3_link_1"  xyz="0.00625  -0.005  -0.088" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_3_link_2"  parent="left_finger_3_link_1" child="left_finger_3_link_2" mimic="left_finger_3_link_1_joint" xyz="0 0 -0.024" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_3_link_3"  parent="left_finger_3_link_2" child="left_finger_3_link_3" mimic="left_finger_3_link_1_joint" xyz="0 0 -0.024" lower="-1.57" upper="0"/>
        <xacro:finger_joints_1 name="left_finger_2_link_1"  parent="left_hand" child="left_finger_2_link_1"  xyz="-0.00875 -0.005  -0.088" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_2_link_2"  parent="left_finger_2_link_1" child="left_finger_2_link_2" mimic="left_finger_2_link_1_joint" xyz="0 0 -0.024" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_2_link_3"  parent="left_finger_2_link_2" child="left_finger_2_link_3" mimic="left_finger_2_link_1_joint" xyz="0 0 -0.019" lower="-1.57" upper="0"/>
        <xacro:finger_joints_1 name="left_finger_1_link_1"  parent="left_hand" child="left_finger_1_link_1"  xyz="-0.02575 -0.005  -0.088" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_1_link_2"  parent="left_finger_1_link_1" child="left_finger_1_link_2" mimic="left_finger_1_link_1_joint" xyz="0 0 -0.024" lower="-1.57" upper="0"/>
        <xacro:finger_joints name="left_finger_1_link_3"  parent="left_finger_1_link_2" child="left_finger_1_link_3" mimic="left_finger_1_link_1_joint" xyz="0 0 -0.016" lower="-1.57" upper="0"/>

    </xacro:if>
</robot> 
